name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: build
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: cicdsample
          path: build/libs/*.jar

      - name: Copy jar file to remote
        uses: appleboy/scp-action@master
        with:
          username: ec2-user
          host: ${{ secrets.SEVER_IP }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./build/libs/*.jar"
          target: "/home/ec2-user/cicd"
          strip_components: 2

      - name: Copy deploy script file to remote
        uses: appleboy/scp-action@master
        with:
          username: ec2-user
          host: ${{ secrets.SEVER_IP }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy.sh"
          target: "/home/ec2-user/cicd"

      - name: Execute deploy script
        uses: appleboy/ssh-action@master
        with:
          username: ec2-user
          host: ${{ secrets.SEVER_IP }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script_stop: true
          script: |
            CURRENT_PID=$(pgrep -f .jar)
            echo "$CURRENT_PID"
            if [ -z $CURRENT_PID ]; then
                echo "no process"
            else
                echo "kill $CURRENT_PID"
                kill -9 $CURRENT_PID
                sleep 3
            fi
            
            JAR_PATH="/home/ec2-user/cicd/*.jar"
            echo "jar path : $JAR_PATH"
            chmod +x $JAR_PATH
            nohup java -jar $JAR_PATH > /dev/null 2> /dev/null < /dev/null &
            echo "jar file deploy success"